.menu-item {
    --width-icon: 48px;
    height: var(--menu-item-height);
    display: flex;
    align-items: center;
    margin-bottom: var(--space-item);
    margin-top: var(--space-item);
    border-radius: 6px;
    position: relative;

    &:hover {
        background-color: var(--flash-white-color);
    }

    svg,
    img {
        --size-icon: 1.9rem;
        width: var(--width-icon);
    }

    svg {
        position: relative;
        font-size: var(--size-icon);
        bottom: 1px;
    }

    img {
        --edge-icon: calc(var(--size-icon) + 2px);
        border-radius: 50%;
        height: var(--edge-icon);
        padding: 0 calc((var(--width-icon) - var(--edge-icon)) / 2);
        object-fit: cover;
    }

    span {
        font-weight: 500;
        margin-left: 6px;
    }

    &.deflect-left {
        right: 2px;
    }

    &.active svg,
    &.active span {
        color: var(--primary-color);
    }

    &.collapsed img,
    &.collapsed svg {
        --width-icon: 100%;
    }

    &.collapsed span {
        display: none;
    }
}

.menu-icon {
    font-size: 1.8rem;
}
