.wrapper {
    position: relative;
    width: var(--popper-width);
    height: calc(100vh - 2px);
    padding: 8px;

    border-left: 1px solid rgba(0, 0, 0, 0.12);
    border-right: 1px solid rgba(0, 0, 0, 0.12);
    background-color: var(--white-color);
}

.close-btn {
    position: absolute;
    top: 12px;
    right: 12px;
}

.title {
    font-size: 2rem;
    margin: 0 12px;
    display: flex;
    align-items: center;
    height: var(--header-popper-height);
}

button + span {
    margin-left: 8px;
}
