.wrapper {
    --search-border-radius: 100px;
    --sidebar-icon-height: 72px;

    width: var(--sidebar-width);

    &.collapsed {
        width: var(--sidebar-collapsed-width);
    }

    &.collapsed .search {
        margin-top: 4px;
    }

    &.collapsed .logo {
        margin-top: 4px;
    }
}

.sidebar {
    padding: 12px 16px 0;
    position: relative;
}

.logo {
    padding-left: 8px;
}

// ==== SEARCH POPPER  ====
.search-popper-input {
    padding-left: 16px;
    height: var(--menu-item-height);
    background-color: var(--flash-white-color);
    border-radius: var(--search-border-radius);
    caret-color: var(--primary-color);
    font-size: 1.4rem;
    width: 100%;
    margin-bottom: 4px;
    margin-top: 2px;

    &:focus {
        border: 1px solid rgba(22, 24, 35, 0.2);
    }
}

.search-popper-suggest {
    color: rgba(22, 24, 35, 0.75);
    font-size: 1.4rem;
    font-weight: 500;
    margin: 6px 14px;
}

.search-popper-list {
    list-style: none;
}

.search-popper-result {
    overflow-y: scroll;
    scroll-behavior: smooth;
    height: calc(100vh - var(--menu-item-height) * 3 - 20px);
    margin-top: 12px;

    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
        border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--flash-white-color);
        border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: #ddd;
    }
}

// ==== SEARCH OF MENU (OUTSIDE TIPPY) ====
.search {
    height: var(--menu-item-height);
    background-color: var(--flash-white-color);
    border-radius: var(--search-border-radius);
    cursor: pointer;
    margin: 8px 0 10px;
    display: flex;
    align-items: center;

    input {
        height: 100%;
        width: 100%;
        background-color: transparent;
        cursor: pointer;
        caret-color: transparent;
    }

    &.collapsed input {
        display: none;
    }
}

.search-btn {
    height: 100%;
    width: 54px;
    cursor: pointer;
    font-size: 1.8rem;
    border-radius: var(--search-border-radius);
    position: relative;
    right: 2px;

    svg {
        position: relative;
        top: 1px;
    }
}

// ==== MENU ====
.menu-list {
    list-style: none;

    li {
        display: block;
    }
}

.menu-item {
    --width-icon: 48px;
    display: flex;
    align-items: center;
    border-radius: 6px;
    height: var(--menu-item-height);
    line-height: var(--menu-item-height);
    margin: var(--space-item) 0;

    &:hover {
        background-color: var(--flash-white-color);
    }

    svg {
        font-size: 1.9rem;
        width: var(--width-icon);
        position: relative;
        bottom: 1px;
        width: var(--width-icon);
    }

    img {
        --edge: 22px;
        width: var(--edge);
        height: var(--edge);
        margin: 0 14px;
        border-radius: 50%;
    }

    span {
        font-weight: 500;
        margin-left: 6px;
    }

    &.active svg,
    &.active span {
        color: var(--primary-color);
    }
}

.menu-icon {
    font-size: 1.8rem;
}
