.wrapper {
    --search-border-radius: 100px;

    width: var(--sidebar-width);

    &.collapsed {
        width: var(--sidebar-collapsed-width);
    }
}

.sidebar {
    padding: 12px 16px 0;
    position: relative;
}

.logo {
    padding-left: 8px;
}

// ==== COMMOM POPPER ====
.popper-wrap {
    overflow-y: auto;
    scroll-behavior: smooth;
    height: calc(100vh - var(--header-popper-height) - 24px);
    padding-right: 8px;

    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
        border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--flash-white-color);
        border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: #ddd;
    }

    &.has-sticky {
        height: calc(100vh - var(--header-popper-height) - var(--menu-item-height) - 30px);
    }
}

// ==== SEARCH POPPER  ====
.search-popper-input {
    padding-left: 16px;
    height: var(--menu-item-height);
    background-color: var(--flash-white-color);
    border-radius: var(--search-border-radius);
    caret-color: var(--primary-color);
    font-size: 1.4rem;
    width: 100%;
    margin-bottom: 4px;

    &:focus {
        border: 1px solid rgba(22, 24, 35, 0.2);
    }
}

.search-popper-suggest {
    color: rgba(22, 24, 35, 0.5);
    font-size: 1.4rem;
    font-weight: 500;
    margin: 6px 14px;
}

.search-popper-list {
    list-style: none;
}

// ==== SEARCH OF MENU (OUTSIDE TIPPY) ====
.search {
    height: var(--menu-item-height);
    background-color: var(--flash-white-color);
    border-radius: 999px;
    cursor: pointer;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;

    input {
        height: 100%;
        width: 100%;
        background-color: transparent;
        cursor: pointer;
        caret-color: transparent;
    }
}

.search-collapsed {
    display: none;
}

.search-btn {
    height: 100%;
    width: 54px;
    cursor: pointer;
    font-size: 2rem;
    border-radius: var(--search-border-radius);
    position: relative;
    right: 2px;

    svg {
        position: relative;
        top: 1px;
    }
}
