@import 'normalize.css';

:root {
    --primary-color: #fe2c55;
    --text-color: #333;
    --black-color: #000;
    --white-color: #fff;
    --flash-white-color: #f3f3f3;

    // Default layout
    --sidebar-width: 240px;
    --sidebar-collapsed-width: 72px;
    --header-popper-height: 52px;
    --video-width: 348px;
    --popper-width: 320px;
    --space-item: 8px;
    --menu-item-height: 40px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    color: var(--text-color);
}

body {
    font-family: 'TikTokFont', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}

input,
button {
    outline: none;
    border: none;
    color: var(--text-color);
}

a {
    text-decoration: none;
    color: var(--text-color);
}

// Embed font of TikTok
@font-face {
    font-family: 'TikTokFont';
    font-weight: 400;
    src: url('/assets/font/TikTokFont-Regular.woff2');
}

@font-face {
    font-family: 'TikTokFont';
    font-weight: 500;
    src: url('/assets/font/TikTokFont-Semibold.woff2');
}

@font-face {
    font-family: 'TikTokFont';
    font-weight: 700;
    src: url('/assets/font/TikTokFont-Bold.woff2');
}

@font-face {
    font-family: 'TikTokDisplayFont';
    font-weight: 700;
    src: url('/assets/font/TikTokDisplayFont-Bold.woff2');
}

// Custom tippy style
body {
    .tippy-box {
        background-color: rgba(51, 51, 51, 0.85);
        padding: 3px;
        border-radius: 8px;
    }
}
